# Distribution / packaging
bin/ 
build/
lib/
obj/
tests/
lib/
node_modules/
# Ignore json files
.json
.DS_Store
.ccls-cache
.cache
.vimspector.json
.vscode/
neovim.json
package.json
yarn.lock

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
